@import '~@angular/material/theming';
@include mat-core();

$fishing-shop-primary: mat-palette($mat-teal);
$fishing-shop-accent:  mat-palette($mat-amber, 500, 900, A100);

$fishing-shop-theme: mat-light-theme($fishing-shop-primary, $fishing-shop-accent);

@include angular-material-theme($fishing-shop-theme);
