<div *ngIf="pageable.totalPages > 1" class="m:2% d-flex justify-content-around align-items-center">
  <button color="primary" mat-icon-button [disabled]="pageable.first" (click)="getPage(pageable.number - 1)">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button color="primary" mat-button *ngFor="let i of pages" [disabled]="pageable.number + 1 === i" (click)="getPage(i - 1)">
    {{i}}
  </button>
  <button color="primary" mat-icon-button [disabled]="pageable.last" (click)="getPage(pageable.number + 1)">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>

<div class="product-grid">
  <div class="product-grid-item" *ngFor="let product of productList">
    <h5>{{product.productName}}</h5>
    <div class="center flex-column" *ngIf="product.discount">
      <h5 [ngStyle]="{'color':'teal'}" >
        Akció!
      </h5>
      <h4 [ngStyle]="{'color':'teal'}">
        {{product.discount + '%'}}
      </h4>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <img class="product-image" [src]="'data:image/jpg;base64,' + product.image" *ngIf="product.image">
      <img class="product-image" src="https://screenshotlayer.com/images/assets/placeholder.png" *ngIf="!product.image">
    </div>
    <span style="text-align: center">Gyártó: {{product.producer}}</span>
    <h6>Leírás</h6>
    <span>
      {{product.description}}
    </span>
    <span [ngStyle]="product.available ? {'color': 'green'} : {'color': 'red'}">
      {{product.available ? 'Elérhető' : 'Nem elérhető'}}
    </span>
    <span [ngStyle]="product.stock ? {'color': 'green'} : {'color': 'red'}">
      {{product.stock ? 'Raktáron: ' + product.stock + ' db' : 'Nincs raktáron'}}
    </span>

    <div class="d-flex justify-content-end">
      <h5 *ngIf="product.discount">
        {{product.price * (100 - product.discount) / 100 | currency : "HUF" : 0}}
      </h5>
      <h6 [ngStyle]="product.discount ? {'text-decoration': 'line-through', 'color': 'red'} : {} ">
        {{product.price | currency : "HUF" : 0}}
      </h6>
    </div>

    <div class="d-flex justify-content-end">
      <button mat-raised-button color="primary" (click)="putInCart(product)">
        Kosárba!
      </button>
    </div>
  </div>
</div>
