<div class="d-flex flex-column justify-items-center align-items-center">
  <h5>Kosár tartalma</h5>
  <div style="margin: 5%" *ngIf="orderService.cart.products.length == 0">
    Üres a kosár!
  </div>
  <div *ngIf="orderService.cart.products.length > 0">
    <mat-list>
      <mat-list-item *ngFor="let product of orderService.cart.products">
        <h5 mat-line>{{product.productName}}</h5>
        <p mat-line>{{product.description}}</p>
        <div mat-line>
          <span [ngStyle]="product.discount ? {'text-decoration': 'line-through', 'color': 'red'} : {} ">
            {{product.price | currency : "HUF" : 0}}
          </span>
          <span style="font-weight: bold" *ngIf="product.discount">
          {{product.price * (100 - product.discount) / 100 | currency : "HUF" : 0}}
          </span>
        </div>
        <button mat-icon-button color="warn" (click)="removeProduct(product)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider></mat-divider>
  <div style="padding: 5px" class="d-flex flex-row">
    <h4 style="margin: 5px">Végösszeg:</h4>
    <h4 style="margin: 5px">{{orderService.cart.total | currency : "HUF" : 0}}</h4>
  </div>
  <div style="margin: 2%" class="d-flex justify-content-center">
    <button mat-raised-button color="primary" (click)="makeOrder()" [disabled]="orderService.cart.products.length == 0">
      Rendelés elküldése
    </button>
  </div>
</div>
