<div *ngIf="pageable.totalPages > 1" class="m:2% d-flex justify-content-around align-items-center">
  <button color="primary" mat-icon-button [disabled]="pageable.first" (click)="getPage(pageable.number - 1)">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button color="primary" mat-button *ngFor="let i of pages" [disabled]="pageable.number + 1 === i"
          (click)="getPage(i - 1)">
    {{i}}
  </button>
  <button color="primary" mat-icon-button [disabled]="pageable.last" (click)="getPage(pageable.number + 1)">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>

<div class="product-grid">
  <div *ngFor="let product of productList">
    <app-product-details [product]="product"></app-product-details>
  </div>
</div>
