<mat-sidenav-container class="full-height">
  <mat-sidenav #sidenav role="navigation">
    <mat-list>
      <mat-list-item (click)="sidenav.close()">
        Menü
      </mat-list-item>
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="catButton">Kategóriák</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/cart">Kosaram</button>
      </mat-list-item>
      <div *ngIf="!userService.loggedInUser">
        <mat-list-item>
          <button mat-button (click)="loginDialog()">Bejelentkezés</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button routerLink="/register">Regisztráció</button>
        </mat-list-item>
      </div>
      <div *ngIf="userService.loggedInUser">
        <mat-list-item>
          <button mat-button routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
            {{userService.loggedInUser.userName}}
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button (click)="logout()">Kijelentkezés</button>
        </mat-list-item>
      </div>
    </mat-list>
  </mat-sidenav>
  <mat-toolbar color="primary" role="navigation" class="d-flex justify-content-around">
    <button mat-button routerLink="/">
      Horgászbolt
    </button>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button [matMenuTriggerFor]="catButton">Kategóriák</button>
      <button mat-button routerLink="/cart">Kosaram</button>
      <div *ngIf="!userService.loggedInUser">
        <button mat-button (click)="loginDialog()">Bejelentkezés</button>
        <button mat-button routerLink="/register">Regisztráció</button>
      </div>
      <div *ngIf="userService.loggedInUser">
        <button mat-button routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
          {{userService.loggedInUser.userName}}
        </button>
        <button mat-button (click)="logout()">Kijelentkezés</button>
      </div>
    </div>
    <button mat-icon-button (click)="sidenav.open()" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu [overlapTrigger]="false" #catButton="matMenu">
    <ng-container *ngFor="let category of categories">
      <label mat-menu-item [matMenuTriggerFor]="subCatButton" (mouseover)="selectedCategory=category">
        {{category}}
      </label>
      <mat-menu [overlapTrigger]="false" #subCatButton="matMenu">
        <ng-container *ngFor="let subCategory of subCategories[selectedCategory]">
          <button mat-menu-item (click)="goToProducts(subCategory, sidenav)">
            {{subCategory}}
          </button>
        </ng-container>
      </mat-menu>
    </ng-container>
  </mat-menu>

  <div class="container full-height full-width">

    <router-outlet></router-outlet>

  </div>
</mat-sidenav-container>
