<mat-sidenav-container class="full-height">
  <mat-sidenav #sidenav role="navigation">
    <mat-list>
      <mat-list-item (click)="sidenav.close()">
        Menü
      </mat-list-item>
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="catButton">Kategóriák</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/cart">Kosaram</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/login">Bejelentkezés</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-toolbar color="primary" role="navigation">
    <span class="fill-remaining-space"></span>
    <button mat-button routerLink="/">
      Horgászbolt
    </button>

    <span class="fill-remaining-space"></span>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button [matMenuTriggerFor]="catButton" >Kategóriák</button>
      <button mat-button routerLink="/cart">Kosaram</button>
      <button mat-button routerLink="/login">Bejelentkezés</button>
    </div>
    <div>
      <button mat-icon-button (click)="sidenav.open()" fxHide="false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>

  <mat-menu [overlapTrigger]="false" #catButton="matMenu">
    <ng-container *ngFor="let category of categories">
      <button  mat-menu-item [matMenuTriggerFor]="subCatButton"  (mouseenter)="getSubCat(category)">
        {{category}}
      </button>
      <mat-menu [overlapTrigger]="false" #subCatButton="matMenu">
        <ng-container *ngFor="let subCategory of subCategories[selectedCategory]">
          <button mat-menu-item >
            {{subCategory}}
          </button>
        </ng-container>
      </mat-menu>
    </ng-container>
  </mat-menu>

  <div class="container full-height full-width">

    <router-outlet></router-outlet>

  </div>
</mat-sidenav-container>
