<form #form="ngForm" [formGroup]="registrationForm" novalidate (ngSubmit)="onSubmit()"
      class="d-flex flex-column justify-content-center align-items-center"
      style="margin-bottom: 2%">
  <h2 mat-subheader class="d-flex justify-content-center">
    <span *ngIf="userService.loggedInUser">
      Profil módosítása
    </span>
    <span *ngIf="!userService.loggedInUser">
      Regisztráció
    </span>
  </h2>
  <mat-form-field class="form-group">
    <input formControlName="userName" matInput placeholder="Felhasználónév">
    <mat-error *ngIf="registrationForm.controls['userName'].hasError('required')">
      A mező kitöltése kötelező!
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-group">
    <input formControlName="email" matInput placeholder="E-mail cím">
    <mat-error *ngIf="registrationForm.controls['email'].invalid">
      {{getEmailErrorMessage()}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-group">
    <input formControlName="password" [type]="showPassword ? 'text' : 'password'" matInput type="password"
           placeholder="Jelszó">
    <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
      A mező kitöltése kötelező!
    </mat-error>
    <mat-hint class="d-flex justify-content-end" (click)="showPassword = !showPassword">{{showPassword ? 'Elrejtés' :
      'Megjelenítés'}}
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="form-group">
    <input formControlName="address" matInput placeholder="Szállítási cím">
  </mat-form-field>
  <mat-form-field class="form-group">
    <input formControlName="phoneNumber" matInput placeholder="Telefonszám">
  </mat-form-field>
  <div class="button-row">
    <button *ngIf="userService.loggedInUser" mat-raised-button color="primary" type="submit"
            [disabled]="registrationForm.invalid">
      Módosítás
    </button>
    <button *ngIf="!userService.loggedInUser" mat-raised-button color="primary" type="submit"
            [disabled]="registrationForm.invalid">
      Regisztráció
    </button>
    <button mat-raised-button color="accent" type="reset">
      Mégse
    </button>
    <button *ngIf="userService.loggedInUser" type="button" mat-raised-button color="warn" (click)="deactivate()">
      <span matTooltip="A regisztráció törlése végleges!">Regisztráció törlése</span>
    </button>
  </div>
</form>
<mat-divider *ngIf="userService.loggedInUser"></mat-divider>
<app-my-orders *ngIf="userService.loggedInUser"></app-my-orders>
